@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('./leaderboards.css');

:root {
	--text-color-default: #5b5f64;
	--text-color-alt: #618dc3;
	--text-color-accent: #4683ce;
	--background-color-default: #dee7ec;
	--background-color-alt: #aec7de;
	--text-color-link: #2f81f7;
	--border-color: #5b5f6488;
	--bg: #1d1d1d;
	--gradient: linear-gradient(#5f8bc2, #cfe0ea, #5f8bc2);
	--background: #5f8bc2;
	--font-weight-default: 400;
	--font-weight-bold: 600;
	--font-family-default:
		'Nunito', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--font-family-alt:
		'JetBrains Mono', Menlo, Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono',
		'Courier New', monospace;
	--border-radius: 0.375rem;
	--border-radius-big: 23.8px;
	--padding-main: 16px;
	--padding-secondary: 8px;
	--padding-extra: 32px;
	--font-size-default: 16px;
	--font-size-alt: 14px;
	--font-size-small: 12px;
	--font-size-big: 24px;
	--font-size-xl: 48px;

	--first-color: #d4982955;
	--second-color: #81818155;
	--third-color: #dd710d55;

	--red: #ce3017;
	--green: #09974c;
	--blue: #275db4;
	--yellow: #ffae00;

	&:has(.dark-mode) {
		--text-color-default: #eaeaea;
		--text-color-alt: #c1c1c1;
		--text-color-accent: #dddddd;
		--background-color-default: #222222;
		--background-color-alt: #363636;
		--text-color-link: #1e54a0;
		--border-color: #eaeaea20;
		--gradient: linear-gradient(#050505, #091421, #050505);
		--background: #050505;

		--first-color: #d4982933;
		--second-color: #81818133;
		--third-color: #dd710d33;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
}
html {
	font-family: var(--font-family-default);
}

*::-webkit-scrollbar,
::-webkit-scrollbar,
*::-webkit-scrollbar-track,
::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
	width: 0;
	height: 0;
	display: none;
	appearance: none;
	-webkit-appearance: none;
}

grammarly-extension-vbars-feedback-form,
grammarly-extension-vbar-card,
grammarly-desktop-integration,
grammarly-popups,
grammarly-extension-vbars,
grammarly-extension {
	display: none !important;
	visibility: hidden !important;
	opacity: 0 !important;
	pointer-events: none !important;
}
