.LeaderboardOutput {
	display: none;
	flex-direction: column;
	gap: 5px;
	width: 100%;
	padding: 10px;
	max-height: 800px;
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
}
.leaderboard-item {
	color: #cfe0ea;
	width: 100%;
	background: #2e5d9740;
	padding: 5px 10px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	gap: 5px;
	margin-inline: auto;
	align-items: center;
	border-left: solid 5px transparent;
	font-size: var(--font-size-default);
}
.leaderboard-item:not(.leaderboard-item-card) span:nth-last-child(1),
.leaderboard-item-card span:nth-last-child(2) {
	margin-left: auto;
}
.leaderboard-item span:nth-last-child(2) {
	font-weight: 400;
	color: #5e5e5e;
	font-size: calc(var(--font-size-default) - 2px);
}
.LeaderboardOutput > .leaderboard-item:nth-child(1) {
	background-color: var(--first-color);
	font-weight: 600;
}
.LeaderboardOutput > .leaderboard-item:nth-child(2) {
	background-color: var(--second-color);
	font-weight: 600;
}
.LeaderboardOutput > .leaderboard-item:nth-child(3) {
	background-color: var(--third-color);
	font-weight: 600;
}

.leaderboard-item img,
.leaderboard-item svg,
.leaderboard-item span:has(> svg) {
	height: 35px;
	aspect-ratio: 512/288;
	border-radius: 3px;
}
.leaderboard-item-info {
	max-width: 50%;
}
.leaderboard-item span {
	color: #4e88cf;
	font-weight: 600;
}
.leaderboard-item a {
	color: #2976d4;
	font-weight: 600;
	text-decoration: none;
}
